@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(135deg, #000000, #2b0202, #000000);
    overflow-x: hidden;
    color: white;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    /* font-family:'Space Grotesk', sans-serif; */
}
/* header{
    /* border: 1px solid white; */
    /* margin-top: 5px;
    padding: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    width: 100%;
    background-color: transparent;
} */ 
nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 60px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}
/* nav li{
  list-style: none;
  display: flex;
  gap: 30px;
} */

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
  margin-left: 20px;
}
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ff1a1a;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}
.nav-icons i {
    font-size: 1.3rem;
  color: rgb(246, 238, 238);
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-icons i:hover {
  color: #ff1a1a;
  transform: translateY(-3px);
  text-shadow: 0 0 10px #ff1a1a;
}



h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
  .logo{
    font-size: 1.5rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: red;
    font-weight: 700;
    transition: transform 0.5s ease-in-out;
}
.logo:hover{
    transform: scale(1.08);
    cursor: pointer;
} 
ul{
    display: flex;
    list-style: none;
}
li{
    padding: auto;
}
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    text-align: center;
  }

  nav a{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-icons {
    margin-top: 10px;
  }

}



/* a{
    list-style: none;
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease-in-out;
}

nav a:hover{
    color: red;
    border-bottom: 3px solid red; 
} */
.home{
    /* border: 1px solid white; */
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}
@media (max-width: 768px) {

  .home {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 250px;
    
  }
  .home img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 ;
    border-radius: 20px;
  }

}
.imgs{
    width: 400px;
    
    border: none;
    border-radius: 20%;
    transition: all 1s ease-in-out;
}
.imgs:hover{
    transform: scale(1.1);
    cursor: pointer;
} 
.content{
    /* border: 1px solid white; */
   max-width: 500px;
   width: 100%;
   padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
} 
.highlight{
    color: red;

} 
.typing{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(184, 29, 29);
    margin-top: 10px;
}
